{% extends "main.html" %}
{% block content %}

<div class="jumbotron text-center card card-container">
  <div id="result" data-state="{{STATE}}"></div>
  <h2>Please Login</h2>
  <hr>

  <div id="signinButton">
    <span class="g-signin"
      data-scope="openid email"
      data-clientid="{{client_id}}"
      data-redirecturi="postmessage"
      data-accesstype="offline"
      data-cookiepolicy="single_host_origin"
      data-callback="signInCallback"
      data-approvalprompt="force">
    </span>
  </div>

  <div id="fbButton" data-app-id="{{app_id}}">
    <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
      <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
    </fb:login-button>
  </div>
</div>

{% endblock %}
